<div [class.oddRow]="isOdd" [class.evenRow]="isEven" > {{quiz.Category}} {{quiz.Question}}</div>
<form>
    <div *ngFor="let answer of quiz.Answers;let i=index">
        <div><input type="radio" name="answerInput" (click)="input_answer=i">{{quiz.Answers[i]}}</div>
    </div>
    <div *ngIf="answered">
        <div *ngIf="isAnswerRight">
            <div>Brawo, odpowiedź prawidłowa!</div>
        </div>
        <div *ngIf="!isAnswerRight">
            <div>Przykro mi, ale odpowiedź nie jest poprawna:/</div>
        </div>
    </div>
    <div *ngIf="!answered">
        <input type="submit" (click)="onClick()"/>
    </div>
</form>

<button (click)="clickOnEdit()">Edytuj</button>
<app-edit *ngIf="editButton==true" [quizForEdit]="quiz" (editedQuiz)="editQuiz($event)"></app-edit>
<button (click)="clickOnDelete()">Usuń</button>
<app-delete *ngIf="deleteButton==true" (deleteDecision)="deleteQuiz($event)"></app-delete><br>
