<div><br>
  <label>Wyszukaj po nazwie kategorii
    <input type="text" [(ngModel)]="searchQuery">
  </label>
</div>
<p [ngClass]="'title'">Lista quizów:</p>
<ol>
    <li *ngFor="let quiz of (quizes | search:searchQuery); index as i; odd as isOdd; even as isEven">
            <app-quiz [quiz]="quiz" [isOdd]="isOdd" [isEven]="isEven" (doEditInParent)="editQuiz($event)" [which]="i" (doDeleteInParent)="deleteQuiz($event)"></app-quiz>
    </li>
</ol>
<div>Na dziś niestety koniec quizów;c</div>

<!-- <div class="float-right">
  <app-create [last_id]="quizes.length-1" (addedQuiz)="addQuiz($event)"></app-create>
</div> -->
