<h2>Edycja quizu</h2>

Kategoria: <input type="text"  [(ngModel)]="quizForEdit.Category"/><br>
Pytanie: <input type="text" [(ngModel)]="quizForEdit.Question"/><br>
Odpowiedź 1: <input type="text" [(ngModel)]="quizForEdit_answers[0]"/><br>
Odpowiedź 2: <input type="text" [(ngModel)]="quizForEdit_answers[1]"/><br>
Odpowiedź 3: <input type="text" [(ngModel)]="quizForEdit_answers[2]"/><br>
Odpowiedź 4: <input type="text" [(ngModel)]="quizForEdit_answers[3]"/><br>
Poprawna odpowiedź: <input type="number" [(ngModel)]="quizForEdit.Right_answer_index"/><br>
<button (click)="hide()">hide</button>
